<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>CLIProxyManager</string>
    <key>CFBundleDisplayName</key>
    <string>CLIProxyManager</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>com.woosublee.CLIProxyManager</string>
    <key>CFBundleIconFile</key>
    <string>CLIProxyManager</string>
    <key>CFBundleVersion</key>
    <string>7</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.3</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>CLIProxyManager</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>SUFeedURL</key>
    <string>https://github.com/woosublee/CLIProxyManager/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>Ir+K5lWRSEABP64BOVzbm16oFa7GduspY6lNsM2aV2k=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
